root = true

[**/Generated/**.cs]
generated_code = true

[*.{cs,razor}]
indent_style = tab
indent_size = 4
tab_width = 4

# OL0003: Initializer Spacing
dotnet_diagnostic.OL0003.severity = none

# OL0007: Suffix Naming
dotnet_diagnostic.OL0007.severity = suggestion
olympus_suffix_naming_targets = Model, Request, Response, Result, Mapper, Endpoint
