root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_open_brace:severity = suggestion
csharp_new_line_before_else = false
csharp_new_line_before_else:severity = suggestion
csharp_new_line_before_catch = false
csharp_new_line_before_catch:severity = suggestion
csharp_new_line_before_finally = false
csharp_new_line_before_finally:severity = suggestion
