# End of Line
* text=auto

# Linguist Vendored
**/base-*.css linguist-vendored
**/service-worker*.js linguist-vendored

# Linguist Detectable
*.cs linguist-detectable=true
*.cshtml linguist-detectable=true
*.csproj linguist-detectable=false
*.css linguist-detectable=true
*.html linguist-detectable=true
*.js linguist-detectable=true
*.json linguist-detectable=true
*.md linguist-detectable=false
*.razor linguist-detectable=true
*.sln linguist-detectable=false
*.slnx linguist-detectable=false
*.xaml linguist-detectable=true
*.xml linguist-detectable=true
*.resx linguist-detectable=false
*.yml linguist-detectable=false
*.yaml linguist-detectable=false
*.ps1 linguist-detectable=false
