# Build folders
bin/
obj/

# Generated folder
**/$Generated

# Settings files
appsettings*.json
.settings/**/*.json

# DotEnv files
.env
.env.*
!.env.Template

# User files
*.user
*.userprefs

# NuGet Packages
*.nupkg
*.nuget.props
*.nuget.targets
*.snupkg

# Visual Studio Files
.vs/

# Visual Studio Code files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace

# General
._*
*.lnk
*.stackdump
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.apdisk
[Dd]esktop.ini
Network Trash Folder
Temporary Items
Thumbs.db
