.rz-header {
	-webkit-app-region: drag;
}

.rz-header .rz-sidebar-toggle,
.rz-header .rz-profile-menu {
	-webkit-app-region: no-drag;
}

.rz-header .rz-header-area {
	left: env(titlebar-area-x, 0);
	width: env(titlebar-area-width, 100%);
}