@using Radzen.Blazor

<h3>Botão Contador</h3>

<p>Cliques: @currentCount</p>

<RadzenButton Text="Clique aqui" Click="@IncrementCount" />

@code {

	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}

}